:host {
  display: block;
}

.ftl-belt {
  border: 2px solid red;
  background: rgb(55 65 81);
  padding: 1rem;
  display: flex;

  position: sticky;
  top: 0;
  z-index:3;

}

ftl-buckle::part(base) {
  display: flex;
  align-items: center;
  min-height: 25px;
}
ftl-buckle::part(holster-option) {
  margin-right: 2rem;
  margin-bottom: 0;

}

.figma-config-form {
  display: flex;
  align-items: center;
}

.figma-config-field {
  margin-right: 1rem;
}

.figma-config-field label {
  margin-right: 1rem;
}